:root {
    --temple-red-dark: #155e63;
    --bs-primary: #287f83;
    --bs-primary-rgb: 40, 127, 131;
    --bs-primary-dark: #1f666a;
    --bs-primary-dark-rgb: 31, 102, 106;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #287f83;
    --bs-btn-border-color: #287f83;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1f666a;
    --bs-btn-hover-border-color: #1f666a;
    --bs-btn-focus-shadow-rgb: 40, 127, 131;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1f666a;
    --bs-btn-active-border-color: #1f666a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1f666a;
    --bs-btn-disabled-border-color: #1f666a;
}
